@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xi url('http://www.w3.org/2001/XInclude');
@media oxygen AND (min-width : 25cm) {

/* ---------------------------------------------------------- ToDos ----------------------------------------------------------*/
/* 
 * 
 * 
 * 
 * Cool to have but not relevant:
 * 
 * 
 * Buttons; Delete @facs in msItem [*|Id] 
 * concat von o:chigc + PID */

/* ---------------------------------------------------------- PAGE ----------------------------------------------------------*/
    oxy|document {
        background-color: #fbfbfb;
    }
    TEI {
        border: 1px solid #c6c6c6;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.25in;
        margin-bottom: 0.25in;
        width: 27cm;
        min-height: 10cm;
    }
    /* Padding inside the page. */
    TEI {
        padding-top: 2em;
        padding-right: 1em;
        padding-left: 2em;
        padding-bottom: 5em;
    }
}
/* ---------------------------------------------------------- DETAILS ----------------------------------------------------------*/
TEI {
    background-color: white;
    -oxy-display-tags: none !important;
    color: black;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 11pt;
}
* {
    -oxy-display-tags: none;
}
oxy|comment {
    display: none !important;
}
/* --------- HIDE -----------*/
text,
publisher,
authority,
distributor,
availability,
pubPlace,
publicationStmt > date,
publicationStmt > ref,
teiHeader listBibl
 {
    display: none;

}


/*######################################################### MAIN ###################################################*/
/* ---------------------------------------------------------- BLOCK / BOXED ----------------------------------------------------------*/
titleStmt,
publicationStmt,
msIdentifier,
msItem,
objectDesc,
decoNote,
history,
additional,
revisionDesc{
    display: block;
    border: solid black 0.1px;
    padding: 5px;
}
/* ---------------------------------------------------------- LABELS ----------------------------------------------------------*/
TEI:before {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    content: 'Compendium Historiae - MsDesc Framework'
}
titleStmt:before {
    font-weight: bold;
    font-size: 14pt;
    content: 'Title'
}

publicationStmt:before {
    font-weight: bold;
    font-size: 11pt;
    width: 16.2%;
    content: "Project PID:"
}

/*msIdentifier:before {
	font-weight: bold;
	font-size: 14pt;
	content: 'Manuscript - General Information'
}*/
/*msItem[*|id]:before { ###bei den Contents eingearbeitet damit ich hier eine Buttonleiste machen kann :) ### }
	font-weight: bold;
	font-size: 14pt;
	display:block;
	content: 'Compendium - General Information'	
}*/
msItem[type=co-transmission]:before {
    font-weight: bold;
    font-size: 14pt;
    content: 
    oxy_label(text, 'Co-Transmission')
    oxy_concat( ' (corresp: ')
 oxy_editor(type, combo, 
edit, "@corresp",
values, '#xy,will,be,added,when,lists,are,done'
width, 20%, 
fontInherit, true
)
 ')';
}

msItem[type=transmission-context]:before {
    font-weight: bold;
    font-size: 14pt;
    content: 
    oxy_label(text, 'Transmission context')
    oxy_concat( ' (corresp: ')
 oxy_editor(type, combo, 
edit, "@corresp",
values, '#xy,will,be,added,when,lists,are,done'
width, 20%, 
fontInherit, true
)
 ')';
}
objectDesc:before {
    font-weight: bold;
    font-size: 14pt;
    content: 'Materiality'
}
decoNote:before {
    font-weight: bold;
    font-size: 14pt;
    content: oxy_concat('Decoration (', attr(type), ')')
}
history:before {
    font-weight: bold;
    font-size: 14pt;
    content: 'History/Provenance'
}
revisionDesc:before {
    font-weight: bold;
    font-size: 14pt;
    content: 'Status'
}

/* ---------------------------------------------------------- COLLAPSE / SHOW TEXT ----------------------------------------------------------*/
msDesc *,
titleStmt *,
publicationStmt * {
    visibility: -oxy-collapse-text;
}
msDesc p, /*  ##########################ausgrauen am Schluss!!! ############################## */
layout {
    visibility: visible;
}
/*######################################################### FORM ###################################################*/
/* ---------------------------------------------------------- BLOCK ----------------------------------------------------------*/
titleStmt > title,
titleStmt > author,
msIdentifier > settlement > placeName,
msIdentifier > settlement > country,
msIdentifier > repository,
msIdentifier > idno,
msIdentifier > altIdentifier > idno,
msItem > locus,
msItem > incipit,
msItem > author,
msItem > title,
msItem > textLang,
msItem > note,
msItem > note > p,
supportDesc,
supportDesc material,
supportDesc height,
supportDesc width,
supportDesc condition,
supportDesc condition > p,
layoutDesc,
layout,
decoNote > p,
decoNote figure,
origin > date,
provenance > p
{
    display: block;
}
/* ---------------------------------------------------------- LABELS ----------------------------------------------------------*/
titleStmt > title:before,
msItem[corresp] > title:before {
    display: inline-block;
    width: 20%;
    content: "Title:"
}
titleStmt > author:before,
msItem > author:before {
    display: inline-block;
    width: 20%;
    content: "Author:"
}


msIdentifier > settlement > placeName:before {
    display: inline-block;
    width: 20%;
    content: "City:"
}
msIdentifier > settlement > country:before {
    display: inline-block;
    width: 20%;
    content: "Country:"
}
msIdentifier > repository:before {
    display: inline-block;
    width: 20%;
    content: "Institution:"
}
msIdentifier > idno:before {
    display: inline-block;
    width: 20%;
    content: "Signature:"
}

msIdentifier > altIdentifier > idno:before {
    display: inline-block;
    width: 20%;
    content: "Sigla:"
}

msItem > locus:before {
    display: inline-block;
    width: 20%;
    color: black;
    content: "Folio:"
}


msItem > incipit:before {
    display: inline-block;
    width: 20%;
    content: "Incipit:"
}
msItem[*|id] > title[type = uniform]:before {
    display: inline-block;
    width: 20%;
    content: "Title (uniform):"
}

msItem > textLang[mainLang]:before {
    display: inline-block;
    width: 20%;
    content: "Main Text Language:"
}
msItem > textLang[otherLangs]:before {
    display: inline-block;
    width: 20%;
    content: "Other Language:"
}

msItem > note[status]:before {
    display: inline-block;
    width: 20%;
    content: 'Extension:'
}
msItem > note:not([status]):before {
    display: inline-block;
    width: 20%;
    content: oxy_concat('Note (', attr(type), '): ');
}
supportDesc:before {
    display: inline-block;
    width: 20%;
    content: "Material (short):"
}
supportDesc material:before {
    display: inline-block;
    width: 20%;
    content: "Material (full):"
}
height:before {
    display: inline-block;
    width: 20%;
    color: black;
    content: "Height:"
}
width:before {
    display: inline-block;
    width: 20%;
    color: black;
    content: "Width:"
}
condition:before {
    display: inline-block;
    width: 20%;
    content: "Condition:"
}
layoutDesc:before {
    display: inline-block;
    width: 20%;
    content: "Layout Description:"
}
origin > date[when]:before {
    display: inline-block;
    width: 20%;
    content: "Date (exact):"
}
origin > date[notBefore]:before {
    display: inline-block;
    width: 20%;
    content: "Date (range):"
}
surrogates:before {
    display: inline-block;
    width: 20%;
    color: black;
    content: "Surrogates (URL):"
}

/* ---------------------------------------------------------- CONTENT ----------------------------------------------------------*/
titleStmt > title {
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 70%, fontInherit, true
)
}

titleStmt > author {
    content: "Peter of Poitiers                                 "
 oxy_label(text, ' Viaf URL:  ', 
styles, 'font-weight: bold;')
 oxy_getSomeText(attr(ref), 200);
}

/* könnte mit oxy-append-content gelöst werden */
publicationStmt > idno:empty {
    content: 
    oxy_editor(
type, text, 
edit, "#text", 
width, 30%, 
fontInherit, true
)
}

publicationStmt > idno:not(empty) {
    content: 
    oxy_xpath("text()")
 oxy_label(text, '                             ')
 oxy_editor(type, button, 
actionID, delete_content, 
transparent, true, 
color, #FF0000)}


/* General Information */

msIdentifier:before {
    content: 
    oxy_label(text, 'Manuscript  - General Information', 
styles, 'font-weight:bold; font-size: large;')
 oxy_label(
text, '        Add Sigla', 
styles, 'font-size:small; '
)
 oxy_editor(type, button, 
actionID, add_siglum, 
transparent, true, 
color, #FF0000)
}
msIdentifier > settlement > placeName {
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 70%, 
fontInherit, true
)
}

/* drei character einschränkung im Schema? */
msIdentifier > settlement > country {
    content: 
    oxy_editor(type, combo, 
edit, '#text', 
editable, true, 
values, 'AUT, BEL, CHE, CZE, DEU, ESP, FRA, GBR, HUN, ITA, NLD, POL, SVK, USA, VAT'
 width, 70%, 
fontInherit, true
)
}
msIdentifier > repository {
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 70%, 
fontInherit, true
)

}
msIdentifier > idno {
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 40%, 
fontInherit, true
)
}

/*  Sigla auf Max 1x einschränken wenn vorhanden .. bzw. das Schema nachziehen - vorkommen 0-1 */
msIdentifier > altIdentifier > idno {
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 40%, 
fontInherit, true)

 oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}

/* ############################# COMPENDIUM GENERAL INFO */
msItem[*|id]:before { /* Überschriftr und Buttonleiste  */

    content: 
    oxy_label(text, 'Compendium - General Information', 
styles, 'font-weight:bold; font-size: large;')
 oxy_label(
text, '        Add Folio-Field', 
styles, 'font-size:small; '
)
 oxy_editor(type, button, 
actionID, add_folio-pagination, 
transparent, true, 
color, #FF0000)

 oxy_label(
text, '        Add Explicit', 
styles, 'font-size:small; '
)
 oxy_editor(type, button, 
actionID, add_explicit, 
transparent, true, 
color, #FF0000)

oxy_label(text, '        Add Title (Archival)',
styles, 'font-size:small;')
 oxy_editor(type, button, 
actionID, add_archival, 
transparent, true, 
color, #FF0000)

oxy_label(text, '        Add Text Language',
styles, 'font-size:small;')
 oxy_editor(type, button, 
actionID, add_otherLang, 
transparent, true, 
color, #FF0000)
}
msItem[*|id]:after{
font-weight: bold;
font-size: large;
padding-top: 20px;
content:
    oxy_label(text, 'Add Co-Transmission Item')
    oxy_editor(type, button, 
actionID, add_coTransmission, 
transparent, true, 
color, #FF0000)
oxy_label(text, '                                                     Add Transmission context Item')
    oxy_editor(type, button, 
actionID, add_transmissionContext, 
transparent, true, 
color, #FF0000)
}


msItem[*|id] > locus:not([facs]) {
    content: 
    oxy_label(
text, " from: ", 
styles, 'color:black;')

 oxy_editor(type, text, 
edit, "@from", 
width, 3%, 
fontInherit, true
)

 oxy_label(
text, " to: ", 
styles, 'color:black;')

 oxy_editor(type, text, 
edit, "@to", 
width, 3%, 
fontInherit, true
)

 oxy_xpath('concat(" = ", @from, "-", @to)')

 oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}


msItem[*|id] > locus[facs] {
    content: 
    oxy_label(
text, 'Faksimile(URI): '
)

oxy_editor(
type, text, 
edit, '@facs', 
width, 40%, 
fontInherit, true)

 oxy_label(
text, " from: ", 
styles, 'color:black;')

 oxy_editor(type, text, 
edit, "@from", 
width, 3%, 
fontInherit, true
)

 oxy_label(
text, " to: ", 
styles, 'color:black;')

 oxy_editor(type, text, 
edit, "@to", 
width, 3%, 
fontInherit, true
)

 oxy_xpath('concat(" = ", @from, "-", @to)')
 oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}


msItem > incipit { 
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 70%, 
fontInherit, true
)
}

msItem > explicit { 
    content: 
    oxy_label(text, 'Explicit:', 
styles, 'width:20%; display:inline-block;')

 oxy_editor(type, text, 
edit, "#text", 
width, 70%, 
fontInherit, true
)

 oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FFFFFF)
}
/* Author and uniform Title as fixed values;  */
msItem > author {
    content: 'Peter of Poitiers'

 oxy_label(
text, "                              language: en ")

}

msItem[*|id] > title[type = uniform] {
    content: 
    oxy_label(text, 'Compendium Historiae')
 
 oxy_label(
text, "                   language: la")
}


/*  Archival as additional */
msItem[*|id] > title[type = archival] { 
    content: 
    oxy_label(text, 'Title (Archival):',
    styles, 'width:20%')
    
    oxy_editor(type, text, 
edit, "#text", 
width, 40%, 
fontInherit, true
)
 oxy_label(
text, " language: ")
 oxy_editor(type, combo, 
edit, '@xml:lang', 
editable, true, 
values, ',la,en,de,fr,it'
 width, 20%, 
fontInherit, true
)
oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}

msItem > textLang[mainLang] {
    content: 
    oxy_editor(type, combo, 
edit, '#text', 
editable, false, 
values, ',Latin,English,German,Greek,French, Alemannic',
 width, 40%, 
fontInherit, true
)
 oxy_label(
text, " language: ")
 oxy_editor(type, combo, 
edit, '@mainLang', 
editable, false, 
values, ',la,en,de,el,fr,al'
 width, 20%, 
fontInherit, true
)
}
msItem > textLang[otherLangs] {
    content: 
    oxy_editor(type, combo, 
edit, '#text', 
editable, false, 
values, ',Latin,English,German,Greek,French, Alemannic',
 width, 40%, 
fontInherit, true
)
 oxy_label(
text, " language: ")
 oxy_editor(type, combo, 
edit, '@otherLangs', 
editable, false, 
values, ',la,en,de,el,fr,al',
 width, 20%, 
fontInherit, true
)

oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}

msItem > note:not([status]) {
    content:
     oxy_editor(type,text,edit, '#text', width, 80%, fontInherit, true)
    oxy_editor(type, button, 
actionID, add_p, 
transparent, true, 
color, #FFFFFF)
}


msItem[*|id] > note[status] {
    content:        
 oxy_label(
text, " Status: ")
 oxy_editor(type, combo, 
edit, '@status', 
editable, false, 
values, 'yes,no,unknown'
 width, 20%, 
fontInherit, true
)}
msItem > note[status] > p {
    padding: 5px;
	margin-left: 20%;
    content:
    oxy_editor(
    type,text,
    edit,'#text',
    width, 80%,   
    fontInherit, true)
}

/*  Co-Transmissions */

msItem[type=co-transmission] {
content:
oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}

msItem[type=transmission-context] {
content:
oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}
msItem[type=co-transmission] > title {
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 20%, 
fontInherit, true
)
}
msItem[type=transmission-context] > title {
    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 20%, 
fontInherit, true
)
}

msItem[type=co-transmission] > locus {

    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 10%, 
fontInherit, true
)
}
msItem[type=transmission-context] > locus {

    content: 
    oxy_editor(type, text, 
edit, "#text", 
width, 10%, 
fontInherit, true
)
}

/* ############################################Rework Sina ends here */
 Material von allem  
supportDesc {
	content: 
	oxy_editor(type, combo, 
edit, '@material', 
editable, false, 
values, ',parchment'
 width, 10%, 
fontInherit, true
);
}
supportDesc material {
	content: 
	oxy_editor(type, combo, 
edit, '#text', 
editable, false, 
values, ',Parchment'
 width, 20%, 
fontInherit, true
)
}
supportDesc height,
supportDesc width {
	visibility: visible;
-oxy-editable:false;
color:gray;
	content: 
	oxy_editor(type, text, 
edit, '@quantity',
editable, true,
width, 10%, 
fontInherit, true
)
 oxy_label(
text, ' (mm) ',
styles, 'color:black;'
)
oxy_label(
text, ' = '
)


oxy_editor(type, text, 
edit, '#text',
width, 10%, 
fontInherit, true,
styles, 'color:gray;');
}
supportDesc > condition {
	content: 
	oxy_editor(type, combo, 
edit, '@n', 
editable, false, 
values, ',fragm,comp,incomp,unclear'
 width, 10%, 
fontInherit, true
)
}
decoNote[type=miniatures] {
	content: 
	oxy_editor(type, button, 
actionID, add_figure_miniature, 
transparent, true, 
color, #FFFFFF)
}
decoNote[type=graph] {
	content: 
	oxy_editor(type, button, 
actionID, add_figure_graph, 
transparent, true, 
color, #FFFFFF)
}
decoNote[type=diagrams] {
	content: 
	oxy_editor(type, button, 
actionID, add_figure_diagram, 
transparent, true, 
color, #FFFFFF)
}
decoNote figure {
	margin-left: 20%;
	content: 
	oxy_editor(type, combo, 
edit, '@corresp', 
editable, false, 
values, ',#jerusalem,#ark,#tribes,#encampments,#christ-apostles,#jerusalem-TA,#jerusalem-TB,#jerusalem-TC,#jerusalem-TD,#jerusalem-TE,#jerusalem-TF,#ark-VA,#ark-VB,#ark-VC,#encampments-TA,#encampments-TB,#encampments-TC,#tribes-TA,#tribes-TB,#tribes-TC,#tribes-TD,#tribes-TE,#tribes-TF,#christ-apostles-VA,#christ-apostles-VB,#christ-apostles-VC,#christ-apostles-VD,#christ-apostles-VE,#christ-apostles-VF'
 width, 20%, 
fontInherit, true
)
}
decoNote label {
	content: 
	oxy_editor(type, text, 
edit, "#text", 
width, 70%, 
fontInherit, true
)
}
origin {
	content: 
	oxy_editor(type, button, 
actionID, add_date_when, 
transparent, true, 
color, #FFFFFF)
 oxy_editor(type, button, 
actionID, add_date_range, 
transparent, true, 
color, #FFFFFF)
}
origin > date[when] {
	content: 
	oxy_editor(type, text, 
edit, '#text', 
width, 20%, 
fontInherit, true
)
 oxy_label(
text, ' when: '
)
 oxy_editor(type, text, 
edit, '@when', 
width, 10%, 
fontInherit, true
)
oxy_label(
text, ' [Format: 0000-00-00]',
styles,'font-size:smaller;'
)
	;
}
origin > date[notBefore] {
	content: 
	oxy_editor(type, text, 
edit, '#text', 
width, 20%, 
fontInherit, true
)
 oxy_label(
text, ' not before: '
)
 oxy_editor(type, text, 
edit, '@notBefore', 
width, 10%, 
fontInherit, true
)
 oxy_label(
text, ' and not after: '
)
 oxy_editor(type, text, 
edit, '@notAfter', 
width, 10%, 
fontInherit, true
)
oxy_label(
text, ' [Format: 0000-00-00]',
styles,'font-size:smaller;'
)
	;
}
surrogates {
visibility: visible;
color:gray;
	content: 
	oxy_editor(type, text, 
edit, '@corresp', 
width, 70%, 
fontInherit, true
)
oxy_label(
text, '',
width, 20%
)
oxy_label(
text, '= '
)
}

/* p-like */
msItem > note:not([status]) > p,
supportDesc > condition > p,
layoutDesc > layout,
decoNote > p,
provenance > p{
	padding: 5px;
	margin-left: 19.6%;
	content:
	oxy_editor(type,text,edit,'#text', width, 80%, fontInherit, true)
	oxy_editor(type, button, 
actionID, delete_element, 
transparent, true, 
color, #FF0000)
}

/*Flags*/
change {
	display:block;
	content: 
	oxy_editor(type, datePicker, 
	edit, "@when", 
	format, "yyyy-MM-dd", 
	width, 10%)
}
change > p {
	-oxy-editable:false;
}
change[type='transformation']:after {
	content: 
	oxy_editor(type, button, 
	actionID, add_change-msLiveView, 
	transparent, true, 
	color, #FF0000)
}
change[type='manuscriptLiveView']:after {
	content: 
	oxy_editor(type, button, 
	actionID, add_change-readyForPublication, 
	transparent, true, 
	color, #FF0000)
}



