@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xi url('http://www.w3.org/2001/XInclude');
@media oxygen AND (min-width : 25cm) {

/* ---------------------------------------------------------- PAGE ----------------------------------------------------------*/
    oxy|document {
        background-color: grey;
    }
    TEI {
        border: 1px solid grey;
        background-color: #f4ede1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.25in;
        margin-bottom: 0.25in;
        width: 27cm;
        min-height: 10cm;
    }
    /* Padding inside the page. */
    TEI {
        padding-top: 2em;
        padding-right: 1em;
        padding-left: 2em;
        padding-bottom: 5em;
    }
}
/* ---------------------------------------------------------- DETAILS ----------------------------------------------------------*/
TEI {
    background-color: white;
    -oxy-display-tags: none !important;
    color: black;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 12pt;
}
* {
    -oxy-display-tags: none;
}
oxy|comment {
    display: none !important;
}
/* --------- HIDE -----------*/
publicationStmt,
titleStmt > title,
titleStmt > author, 
label,
sourceDesc,
publisher,
authority,
distributor,
availability,
pubPlace,
label,
publicationStmt > date,
publicationStmt > ref

{
    display: none;

}
/*######################################################### MAIN ###################################################*/
/* ---------------------------------------------------------- BLOCK / BOXED ----------------------------------------------------------*/


item
{
    display: block;
    border: solid grey 0.1px;
    margin-bottom:3em;
}



/* ---------------------------------------------------------- LABELS ----------------------------------------------------------*/
titleStmt:before {
    font-weight: bold;
    font-size: 20pt;
    margin-left: 6em;
    text-align: center;
    content: 
    oxy_xpath('//titleStmt/title/text()')
    }


label:not(empty) {
    display:block;
    margin-top: 15px;
    margin-left: 15em;
    content: 
    oxy_label(text, 'Name:  ')
    
}


label:empty {
    display:block;
    margin-left: 15em;
    content: 
    oxy_label(text, 'Name:  ')
    oxy_editor(type,text,edit,'#text', width, 40%, fontInherit, true)
}

p:not(emtpy) {
    display:block;
    margin-top: 5px;
    margin-left: 15em;
    margin-bottom: 5px;
    content:
    oxy_label(text, 'Description:    ')    
}

p:empty {
        display:block;
    margin-top: 5px;
    margin-left: 15em;
    margin-bottom: 5px;
    content:
    oxy_label(text, 'Description:    ')   
    oxy_textArea(edit, '#text')
}

/*  CONTENT */

item[*|id] {
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
    content:
    oxy_label(text,'  List Entry                                        ID:   ', styles, "font-weight: bold;")
    oxy_xpath('./@xml:id')
}

item {
    display:block;
    margin-top: 20px;
    margin-bottom: 20px;
    content:
    oxy_label(text,'  List Entry                                        ID:   ', styles, "font-weight: bold;")
    oxy_editor(type,text,edit,'@xml:id', editable, true, styles, "display:block;", width, 10%)
    oxy_label(text, '       ID Convention: ', styles,  'font-size:small;') oxy_label(text, 'co-itemname in lowercase', styles, 'font-style:italic; font-size:small;')
}

item:after {
    color:red;
    font-style:italic;
    font-weight:bold;
    content:' Delete Entry'
    oxy_editor(type,button,actionID, delete_item,transparent, true, color, #FF0000)
}

list:after {
    display:block;
    text-align:center;
    font-size: 14pt;
    font-weight:bold;
    content:' Add new Entry'
    oxy_editor(type,button,actionID, add_item,transparent, true, color, #FF0000)
}

    
